
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/*-----------------header-------------------------------------------------------------*/


.header-logo{
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
font-family: "Raleway", sans-serif;
color: #4d5ae5;
padding: 0;
margin: 0;
}
.header-studio {
  
    color: #2e2f42;
    margin: 0;
}

.header-menu {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
a { margin: 0;
    padding: 0;
    text-decoration: none;
}

li{margin: 0;
    padding: 0;
    list-style: none;
}
p{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
        padding: 0;
}
span{
    margin: 0;
    padding: 0;
}
.email-tel{
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}
/*-----------------/header-------------------------------------------------------------*/

/*------------------section one-----------------------------------*/ 
.section-one{
    background: #2e2f42;
    height: 600px;
}

.effective-solutions{
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}


.order-service{
font-family: "Roboto", sans-serif;
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 10px;
border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}

.order-service:hover {
    background-color: #404BBF;
}

.order-service:focus {
background-color: #404BBF;
}




/*------------------/section one-----------------------------------*/

/*------------------section two-----------------------------------*/
.section-two-h2{
    font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}


.section-two-h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-two-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    width: 264px;
}

.section-two-li{
    list-style: none;
}

/*------------------/section two-----------------------------------*/

/*------------------section three-----------------------------------*/


.section-three-img {
width: 264px;
height: 260px;
}



.section-three{
    background: #f4f4fd;
    
}
.section-three-h2{
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
}

.section-three-li{
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        border-radius: 0 0 4px 4px;
            padding: 0px 0px 32px 0px;
            width: 264px;
            height: 380px;
            box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
                background: #fff;
}

.section-three-h3{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.section-three-p{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}
/*------------------/section three-----------------------------------*/



/*------------------section fourth-----------------------------------*/
.our-portfolio-h2{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-transform: capitalize;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.our-portfolio-h3{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
}

.our-portfolio-p{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.our-portfolio-li{
    border: 1px solid #e7e9fc;
width: 360px;
height: 420px;
background: #fff;
}
/*------------------/section fourth-----------------------------------*/


/*------------------footer-----------------------------------*/
.footer{
    background: #2e2f42;
    height: 312px;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;

}

.footer-studio{
    color: #f4f4fd; 
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}
/*------------------/footer-----------------------------------*/